body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.5;
}

/* Estilos para encabezados de sección */
section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Estilos para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

/* Estilo para los logotipos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
}

.logo-izquierda,
.logo-derecha {
    max-width: 30px;
    height: auto;
}

.logo-izquierda {
    order: 1;
}

.logo-derecha {
    order: 3;
}